<!DOCTYPE html>
<html 
class="Light"
xmlns:th="http://www.thymeleaf.org"
th:fragment="parent(content)"
lang="en">
<link rel="stylesheet" data-th-href="@{'/css/output.css'}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base page</title>
    <link 
    rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" 
    integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" 
    crossorigin="anonymous" 
    referrerpolicy="no-referrer" />
</head>
<body class="dark:text-white dark:bg-gray-900">
    <div data-th-replace="navbar :: navbar"></div>
    <section data-th-replace="${content}"></section>

    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
    <script data-th-src="@{'/js/script.js'}"></script>
</body>
</html>