<!DOCTYPE html>
<html 
class="dark"
xmlns:th="http://www.thymeleaf.org"
th:fragment="parent(content)"
lang="en">
<link rel="stylesheet" data-th-href="@{'/css/output.css'}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base page</title>
</head>
<body class="dark:text-white dark:bg-gray-900">
    <div data-th-replace="navbar :: navbar"></div>
    <section data-th-replace="${content}"></section>

    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
</body>
</html>